*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #384047;
	background-color: #5c1f87;
}

table {
	width: 95%;
	margin: 10px auto;
}

caption {
	font-size: 1.6em;
	font-weight: 400;
	padding: 10px 0;
	color: #FFF;
}

thead th {
	font-weight: 400;
	background: #8a97a0;
	color: #FFF;
}

tr {
	background: #f4f7f8;
	border-bottom: 1px solid #FFF;
	margin-bottom: 5px;
}

tr:nth-child(even) {
	background: #e8eeef;
}

th, td {
	text-align: left;
	padding: 20px;
	font-weight: 300;
}

tfoot tr {
	background: none;
}

tfoot td {
	padding: 10px 2px;
	font-size: 1em;
	font-style: italic;
	color: #a4b2bd;
}

p code {
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	background: #ddd;
	margin: 0;
	padding: 0.1em 0.3em;
	border: none;
	background: #ddd;
}