<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Preview Anki Card</title>
	<link rel="stylesheet"
		href="https://rawcdn.githack.com/bikenik/alfred-anki/e322e20155f37bf5f0b0e5cfbd9830e7dbd1d032/src/input/preview/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet"
		href="https://rawcdn.githack.com/bikenik/alfred-anki/e322e20155f37bf5f0b0e5cfbd9830e7dbd1d032/src/input/preview/main.css">
	<link rel="stylesheet"
		href="https://rawcdn.githack.com/bikenik/alfred-anki/e322e20155f37bf5f0b0e5cfbd9830e7dbd1d032/src/input/preview/monokai.css">
	<style>
		img {
			max-width: 50%;
		}
	</style>
</head>

<body>

	<table>
		<caption>Preview Of Card Fields</caption>
		<thead>
			<tr>
				<th scope="col">Field Name</th>
				<th scope="col">Content</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="3">Data is updated every time when you edit field.</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>{{FIELD}}</tr>
		</tbody>
	</table>

</body>

</html>